section {
    display: flex;
    flex-grow: 1;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header, footer {
    min-height: 60px;
}

header {
    background-color: lightgreen;
}

footer {
    background-color: lightcoral;
}

.box {
    font-size: 50px;
    text-align: center;
    padding: 20px;
}

.left {
    width: 25%;
    background-color: turquoise;
}

.center {
    width: 50%;
    background: green;
}

.right {
    width: 25%;
    background-color: darkcyan;
}

/*.A {
    flex: 0 2;
}

.C {
    flex: 0.5 0;
} */
